.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.event-details {
  background-color: #1c1c1e;
  color: #e0e0e0;
  padding: 2rem;
  margin: 1.5rem 0;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  transition: transform 0.3s ease;
}

.event-details:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.8);
}

.event-details ul {
  list-style-type: none;
  padding: 0;
}

.event-details li {
  padding: 1rem 0;
  font-size: 1.1rem;
  display: flex;
  column-gap: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.event-details li strong {
  color: #f0b400;
  width: 150px;
  margin-left: 0;
  margin-right: 30px;
  font-weight: 700;
}

.event-details li:last-child {
  border-bottom: none;
}

.event-details li::before {
  content: '-- >';
  margin-right: 10px;
  color: #f0b400;
}

.event-details li span {
  color: #9acd32;
}

.event-details ul li:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}

.styled-button {
  background-color: #f0b400;
  color: #1c1c1e;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 40%;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(240, 180, 0, 0.4);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.styled-button:hover {
  background-color: #ffcc33;
  box-shadow: 0 8px 20px rgba(240, 180, 0, 0.7);
  transform: translateY(-4px);
}

.styled-button:active {
  background-color: #d1a300;
  transform: translateY(0);
  box-shadow: 0 4px 15px rgba(240, 180, 0, 0.4);
}

.converter-container {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #f0f4f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.converter-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.converter-container input {
  width: 100px;
  padding: 5px;
  font-size: 16px;
}

.converter-container h3 {
  margin-top: 10px;
}